<template name="home">
    <div class="template-home">
        <img src="images/logo.png" style="max-height: 200px" class="img-responsive center-block" alt="Responsive image">
        <div class="page-header text-center">
            <h1 class="snc-text">MISSION</h1>
        </div>
        <p class="text-center">
            To develop and provide high quality academic and technical skills programs that would ensure employability
            and productivity of young men and women through proper values and principles as a means to achieve success
            with excellence for a better quality of life.
        </p>

        <div class="page-header text-center">
            <h1 class="snc-text">VISION</h1>
        </div>
        <p class="text-center">
            A center of excellence in academic and technical skills programs in pursuing dynamic opportunities parallel
            to global standards, thereby, uplifting the socio-economic growth of the country.
        </p>
    </div>

</template>
