/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.touch {
    -webkit-overflow-scrolling: touch;
}

canvas {
    height: 100%;
    width: 100%;
}