<template name="Admins">

    {{#if isAdmin}}
        <div class="page-header">
            <h1>Admin
                <a href="{{pathFor 'Admin.Add'}}">
                    <span class="glyphicon glyphicon-plus"
                          aria-hidden="true"></span></a>
            </h1>
        </div>
        <br><br>
        {{#each Admins}}
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3>{{this.email}}</h3></div>
                {{#if isAdmin}}
                    <div class="panel-body">
                        {{> quickRemoveButton collection="Category" class="btn alert-danger" onError=onError beforeRemove=beforeRemove style="width:100%;" _id=id}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    {{else}}
        {{>NotAuthorized}}
    {{/if}}

</template>
